include README.md
include LICENSE
include pyproject.toml
include pytest.ini
include main.py
recursive-include dts *.py
recursive-include dts *.wav
recursive-include dts *.json
recursive-exclude tests *
recursive-exclude .github *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]